/**
 * The root declaration represents the index page.
 * You should put whatever you like in there and it will be displayed.
 *
 * ## By the way
 *
 * You can also use markdown here!
 *
 * @name: eugen-sample
 * @version: 1.0.0
 */
:root {

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * @block
 * Represents the **main content** of your website.
 */
.content,
.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

/**
 * @block
 * Main sidebar.
 *
 * @preview
 *
 * .sidebar
 *   ul.sidebar__nav
 *     li Item 
 *     li Item
 */
.sidebar {

}

/**
 * @element
 * Sidebar navigation.
 */
.sidebar__nav {

}