| <!DOCTYPE html>
html
  head
    title {{ site.root.name | first }} v{{ site.root.version | first }}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    {% for css in source_css %}
    link(rel='stylesheet', type='text/css', href='{{ css | url }}') 
    {% endfor %}
  body
    {% if current_url == site.root.url() %}
    .cover
      .content
        p.cover__title {{ site.root.name | first }}
        h1.cover__subtitle {{ site.root.description | first }}
    {% endif %}
    .content
      {% block content %}
      {% endblock %}