{% extends "base.pug" %}
{% block content %}
h2
  code {{ page.declarations | join(', ') }}

{{ page.block | markdown }}

{% if page.preview %}
h3 Component preview
.preview
  .preview__result {{ page.preview | spenx }}
  .preview__source {{ page.preview | spenx | prettify | highlight('html') }}
{% endif %}

h3 Elements
{% for ele in site.declaration_startswith(page.declarations[0] + '__', site.groups.element) %}
h4
  code {{ ele.declarations[0] }}

{{ ele.element | markdown }}

{% endfor %}
{% endblock %}