/**
 * **Eugen** is a Design System documentation tool based on CSS comments.
 *
 * Writing a Design System is a complicated task and documenting it is tedious.
 * As a big fan of Living Documentation, I have decided to develop this tiny tool 
 * to make the process easier.
 *
 * Generating your Design System documentation is dead simple:
 *
 * - Write your CSS with some comments
 * - Write some templates in either html or [spenx](https://github.com/ducent/spenx)
 * - Launch eugen to process your CSS file(s) using your templates
 * - Profit!
 *
 * *Fun fact, this site is entirely built using eugen itself!*
 *
 * @name: eugen
 * @description: A minimalist living documentation tool for <strong>Design Systems</strong>
 * @version: 1.0.0
 */
:root {
  --brand-color: #ff6e40;
  --brand-color--dark: #f0693e;
  --baseline: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a, a:visited {
  color: var(--brand-color);
}

p, ul {
  margin-bottom: var(--baseline);
}

ul {
  margin-left: var(--baseline);
}

.content {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 var(--baseline);
  width: 100%;
}

/**
 * @block
 * Only used in the front page, it should contains at least the title and the subtitle.
 *
 * @preview
 *
 * .cover
 *   .cover__title Site title
 *   .cover__subtitle Site description
 */
.cover {
  background-color: var(--brand-color);
  color: #fff;
  padding: calc(var(--baseline) * 2) 0;
  padding-bottom: var(--baseline);
}

.cover__title {
  color: #fff !important;
  font-size: 16px;
  margin-bottom: 0;
}

.cover__subtitle {
  font-size: 24px;
  font-weight: 500;
}

.cover__github {
  margin-top: var(--baseline);
  text-align: center;
}

.cover__github * + * {
  margin-left: calc(var(--baseline) / 2);
}

/**
 * @block
 * Contains some basic tabs.
 */
.cover-tabs {
  background-color: var(--brand-color--dark);
  color: #fff;
  margin-bottom: calc(var(--baseline) * 2);
  padding: calc(var(--baseline) / 2) 0;
}

.cover-tabs__title {
  float: left;
  font-weight: bold;
  margin: 0;
}

.cover-tabs__nav {
  list-style-type: none;
  margin: 0;
}

.cover-tabs__nav li {
  display: inline-block;
  margin-left: calc(var(--baseline) / 2);
}

a.cover-tabs__nav-item,
a.cover-tabs__nav-item:visited {
  color: rgba(255, 255, 255, 0.87);
}

a.cover-tabs__nav-item:hover,
a.cover-tabs__nav-item:focus {
  color: #fff;
}